doctype html
html(lang='en')
  head
    title=pageTitle
    script(type='text/javascript').
        const applicationVersion = #{applicationVersion};
        const labelData = #{labelData};
  body(class=labelName)
    h1='Welcome! ' + pageTitle
    p Version: #{applicationVersion}
    p Label: #{labelData}